.wrapper {
    display: grid;
    height: max-content;
    width: 100%;
    margin-top: 160px;
    row-gap: 16px;
    justify-content: center;
    justify-items: center;
    align-items: center;
}

.input {
    margin-left: 16px;
    height: 24px;
    border: solid 2px var(--green);
    border-radius: 8px;
    font-size: 14px;
    outline: none;
    text-align: center;
}

.input:hover, .input:focus {
    border-color: var(--greenDark);
}

.input::placeholder {
    color: var(--grayDark);
}

.login, .password, .loginReg, .passwordReg, .passwordReplyReg {
    display: grid;
    grid-template-columns: max-content max-content;
    align-items: center;
}

.login {
    padding-left: 10px;
}

.button {
    cursor: pointer;
    font-size: 16px;
    padding: 4px 32px;
    justify-self: center;
    border: solid 2px var(--green);
    border-radius: 16px;
    background: var(--grayDark);
}

.button:hover {
    border-color: var(--greenDark);
}

.removeTitle {
    text-align: center;
    padding: 0 8px;
}

.error {
    text-align: end;
}

.redText, .error {
    color: var(--red)
}

.errorInput, .errorInput:hover, .errorInput:focus {
    border-color: var(--red);
}

.loginReg {
    padding-left: 90px;
}

.passwordReg {
    padding-left: 80px;
}

.buttonWrapper {
    display: grid;
    grid-template-columns: max-content max-content;
    column-gap: 16px;
}

@media screen and (max-width: 640px) {
    .wrapper {
        margin-top: 10px;
    }
}

@media screen and (max-width: 400px) {
    .buttonWrapper {
        grid-template-columns: max-content;
        row-gap: 16px;
    }

    .login, .password, .loginReg, .passwordReg, .passwordReplyReg {
        grid-template-columns: max-content;
        row-gap: 8px;
        justify-items: center;
    }

    .login {
        padding-left: 0;
    }

    .loginReg, .passwordReg {
        padding-left: 0;
    }
}

