.wrapper {
    display: grid;
    column-gap: 16px;
    grid-template-columns: 14% 14% 18% 30% 10% auto auto;
    grid-template-rows: auto max-content;
    align-items: center;
    justify-items: center;
    background-color: var(--white);
    border-radius: 16px;
    border: solid 2px var(--white);
    padding: 8px;
    min-height: 44px;
}

.wrapper:hover, .wrapperActive {
    border: solid 2px var(--green);
}

.wrapper img {
    width: 16px;
}

.edit, .delete, .save, .cancel {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: none;
    align-content: center;
    justify-content: center;
    cursor: pointer;
}

.save, .cancel {
    display: grid;
}

.edit:hover, .delete:hover, .save:hover, .cancel:hover {
    background: var(--grayDark);
}

.wrapper:hover .edit, .wrapper:hover .delete {
    display: grid;
}

.buttonForm {
    border: none;
    background: none;
}

.input {
    width: 90%;
    height: 24px;
    border: solid 2px var(--green);
    border-radius: 8px;
    font-size: 14px;
    outline: none;
    text-align: center;
}

.input:hover {
    border-color: var(--green);
}

.input:focus {
    border-color: var(--greenDark);
}

.input::placeholder {
    color: var(--grayDark);
    text-align: center;
}