.wrapper {
    display: grid;
    width: 100%;
    column-gap: 16px;
    grid-template-columns: 14% 14% 18% 30% 10% auto auto;
    grid-template-rows: auto max-content max-content;
    grid-template-areas: ". . . . . . ." ". errorName . . errorNumber . .";
    align-items: center;
    justify-items: center;
    text-align: center;
    background-color: var(--white);
    border-radius: 16px;
    border: solid 2px var(--white);
    padding: 8px;
    min-height: 44px;
}

.wrapper:hover, .wrapperActive {
    border: solid 2px var(--green);
}

.wrapper img {
    width: 16px;
}

.edit, .delete, .save, .cancel {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: none;
    align-content: center;
    justify-content: center;
    cursor: pointer;
}

.save, .cancel {
    display: grid;
}

.edit:hover, .delete:hover, .save:hover, .cancel:hover {
    background: var(--grayDark);
}

.wrapper:hover .edit, .wrapper:hover .delete {
    display: grid;
}

.buttonForm {
    border: none;
    background: none;
}

.input {
    width: 90%;
    height: 24px;
    border: solid 2px var(--green);
    border-radius: 8px;
    font-size: 14px;
    outline: none;
    text-align: center;
}

.input:hover {
    border-color: var(--green);
}

.input:focus {
    border-color: var(--greenDark);
}

.input::placeholder {
    color: var(--grayDark);
    text-align: center;
}

.error {
    color: var(--red)
}

.errorInput, .errorInput:hover, .errorInput:focus {
    border-color: var(--red);
}

.errorName {
    grid-area: errorName;
}

.errorNumber {
    grid-area: errorNumber;
}

.errorName, .errorNumber {
    margin-top: 5px;
    text-align: center;
}

input[type='number'] {
    -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

@media screen and (max-width: 1200px) {
    .wrapper {
        grid-template-columns: 14% 14% 18% 25% 10% auto auto;
    }
}

@media screen and (max-width: 900px) {
    .wrapper {
        grid-template-columns: 14% 14% 18% 20% 10% auto auto;
        word-break: break-all;
        font-size: 14px;
        column-gap: 8px;
    }

    .wrapper img {
        width: 12px;
    }

    .edit, .delete, .save, .cancel {
        width: 16px;
        height: 16px;
    }
}

@media screen and (max-width: 500px) {
    .wrapper {
        grid-template-columns: 14% 14% 18% 15% 10% auto auto;
        font-size: 12px;
    }
}

@media screen and (max-width: 400px) {
    .wrapper {
        grid-template-columns: 10% 10% 15% 15% 10% auto auto;
    }
}