.title {
    margin-top: 50px;
    font-size: 24px;
    text-align: center;
    padding: 8px;
}

@media screen and (max-width: 640px) {
    .title {
        font-size: 16px;
        margin-top: 0;
    }
}