:root {
  --green: #b7e7b7;
  --greenDark: #10c610;
  --grayBackground: #f6f6f6;
  --black: #000000;
  --white: #ffffff;
  --grayDark: #cecece;
  --blueDark: #00008B;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: var(--green);
  color: var(--black);
  font-family: 'arial';
  overflow-y: scroll;
}