.wrapper {
    display: grid;
    grid-template-rows: max-content max-content max-content auto;
    margin: 0 32px 32px 32px;
    grid-row-gap: 16px;
    height: max-content;
}

.addContactForm {
    animation: show 0.3s;
    transform-origin: top center;
}

@keyframes show {
    0% {
        transform: scaleY(0);
    }

    100% {
        transform: scaleY(1);
    }
}
