.wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: max-content max-content auto;
    padding: 24px 32px;
    justify-self: start;
    align-items: center;
}

.logo {
    width: 60px;
    cursor: pointer;
}

.title {
    user-select: none;
    font-size: 30px;
    padding-left: 36px;
    cursor: pointer;
}

.exit {
    user-select: none;
    justify-self: end;
    align-items: center;
    margin-right: 32px;
    padding: 8px;
    cursor: pointer;
    border-radius: 24px;
    border: solid 2px var(--grayBackground);
}

.exit:hover {
    background: var(--grayDark);
    border-color: var(--green);
}

.exitIcon {
    width: 25px;
    padding-right: 8px;
    vertical-align: middle;
}

@media screen and (max-width: 640px) {
    .wrapper {
        grid-template-columns: max-content max-content;
        row-gap: 16px;
        padding: 24px;
    }

    .logo {
        width: 40px;
    }

    .title {
        font-size: 18px;
        padding-left: 0;
    }

    .exit {
        margin-right: 0;
    }
}