.wrapper {
    display: grid;
    grid-template-columns: max-content max-content;
    margin: 24px 32px;
    justify-self: start;
    align-items: center;
}

.logo {
    width: 60px;
}

.title {
    font-size: 30px;
    padding-left: 36px;
}